<% include partials/header.ejs %>

<div class = "jumbotron">
<h1>Admin Page!</h1>
</div>

<div class = "container">


<form class = "form" method = "POST" action = "add">
    
    <div class = "row form form-group">
        <input type = "number" min = "0" max = "255" name = "v11">
        <input type = "number" min = "0" max = "255" name = "v12">
        <input type = "number" min = "0" max = "255" name = "v13">
        <input type = "number" min = "0" max = "255" name = "v14">
    </div>
    
    <div class = "row form form-group">
        <input type = "number" min = "0" max = "255" name = "v21">
        <input type = "number" min = "0" max = "255" name = "v22">
        <input type = "number" min = "0" max = "255" name = "v23">
        <input type = "number" min = "0" max = "255" name = "v24">
    </div>
    
    <input class = "btn btn-primary" type = "submit" value = "Find Machines">
</form>

</div>
<% include partials/footer.ejs %>